# Ignore node_modules
node_modules

# Ignore build artifacts
dist
build

# Ignore .env files potentially containing secrets
.env*

# Ignore Dockerfile and .dockerignore itself (optional, but good practice)
Dockerfile
.dockerignore

# Ignore Git directory
.git

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore certificate files copied temporarily
privkey.pem
fullchain.pem
